.boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.one, .two, .three {
  height: 200px;
  width: 200px;
  margin: 12px soild green;
  background-color: rgb(137, 191, 238);
  margin: 9px;
}
.one, .three {
 background-color: rgb(8, 21, 32);
}





